<p>Lorem ipsum dolor sit amet.</p>
[youtube?id=ykwqXuMPsoc]
<p>Consectetur adipiscing elit.</p>
[youtube?id=ykwqXuMPsoc&width=320&height=240]
<p>Donec lectus diam, auctor vel tortor.</p>
[idontexist?foo=bar]
<p>Morbi lacinia fermentum quam luctus finibus.</p>
