<p>Lorem ipsum dolor sit amet.</p>
<dummy>{"id":"ykwqXuMPsoc"}</dummy>
<p>Consectetur adipiscing elit.</p>
<dummy>{"id":"ykwqXuMPsoc","width":"320","height":"240"}</dummy>
<p>Donec lectus diam, auctor vel tortor.</p>
[idontexist foo="bar"]
<p>Morbi lacinia fermentum quam luctus finibus.</p>
